<launch>
  <!-- Node for the camera feed -->
  <node 
    name = "Camera" 
    pkg = "needle_insertion_robot" 
    type = "Pi_camera_feed_node.py" 
    output = "screen"
  />

  <!-- Node for the camera control -->
  <node 
    name = "CameraControl" 
    pkg = "needle_insertion_robot" 
    type = "Pi_camera_control_node.py" 
    output = "screen"
  />

  <!-- Node for the ultrasound feed -->
  <node 
    name = "Ultrasound" 
    pkg = "needle_insertion_robot" 
    type = "Pi_ultrasound_feed_node.py" 
    output = "screen"
  />
</launch>